body {
 color: black;
 font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

nav {
    position: fixed;
    right: 0;
    margin: 25px;
    font-size: 10pt;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 256px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 39px;
    height: 44px;
}

.srchimg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 4px 2px rgb(194, 194, 194);
    width: 561px;
    height: 44px;
}

.srchimgbox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 4px 2px rgb(194, 194, 194);
    width: 558px;
    height: 39px;
    border: 2px solid white;
    border-radius: 30px;
}

.foot {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    font-size: 11pt;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgb(194, 194, 194);
    width: 108px;
    height: 26px;
    background-color: white;
}

.cuzimg {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.thing {
    position: absolute;
    margin-top: -17px;
    margin-left: 150px;
    z-index: 2;
}



.a:link {
    text-decoration: none;
    color: black;
}

.a:visited {
    color: black;
}

.a:hover {
    color: rgb(202, 202, 202);
    text-decoration: underline;
}

.footer {
    position: absolute;
    color: rgb(0, 102, 255);
    margin-left: 50px;
    margin-top: 6px;
    text-decoration: none;
}

.foot:hover {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    font-size: 11pt;
    border: 2px solid rgb(230, 237, 255);
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgb(194, 194, 194);
    width: 108px;
    height: 26px;
    background-color: rgb(230, 237, 255);
}

.goog {
    height: 92px;
    width: 272px;
}

.txt {
    display: inline-block;
    margin-right: 40px;
}

.txt:hover {
    display: inline-block;
    margin-right: 40px;
    text-decoration: underline;
}

.srch:required {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 4px 2px rgb(194, 194, 194);
    width: 558px;
    height: 39px;
    border: 2px solid white;
    border-radius: 30px;
    position: absolute;
    opacity: 0.5;
    color: black;
}

.srchtxt {
    position: absolute;
    margin-top: -15px;
    margin-left: -50px;
    padding-inline-start: 20px;
    font-size: 12pt;
}

input {
    text-indent: 57px;
    font-size: 12pt;
}

.srchimgs {
    position: absolute;
    margin-top: -10px;
    margin-left: -240px;
    z-index: 2;
}

.srch:valid{
    opacity: 1;
}

.thingthing {
    position: absolute;
    margin-top: -34px;
    margin-left: -9px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(209, 209, 209);
    border-radius: 30px;
    z-index: -2;
    opacity: 0;
}

.thingthing:hover {
    opacity: 0.5;
}

.xtra {
    margin: 1em auto;
    width: 350px;
    height: 400px;
    background-color: white;
    margin-top: 40px;
}

.xtrathing {
    display: inline-block;
    width: 112px;
    height: 112px;
    border-radius:5px;
    background-color:white;
    margin: 1em auto;
}

.xtrathing:hover {
    background-color:rgb(218, 218, 218);
}

.xtraimg {
    position: absolute;
    margin-left: 45px;
    margin-top: 25px;
    z-index: 2;
}

.xtratxt {
    position: absolute;
    margin-left: 7px;
    margin-top: 90px;
    font-size: 11pt;
}

.xtrathingthing {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-top: 16px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(209, 209, 209);
    border-radius: 30px;
    opacity: 1;
}
