body {
    /*background-image: url(https://picsum.photos/1440/1120);
    background-size: cover;*/
    font-family: Arial, Helvetica, sans-serif;
}

.heads {
    position: fixed;
    display: flex;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.logoimg {
    display: flex;
    align-self: center;
    padding-left: 20px;
}

.headslogotxt {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 20px;
    white-space: nowrap;
}

.headsmid {
    
}

.headscont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}